<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-bchydrocalculator" version="1.0.0">
   <name>BCHydroCalculator</name>
   <js-module name="BCHydroCalculator" src="www/BCHydroCalculator.js">
      <clobbers target="BCHydroCalculator" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="BCHydroCalculator">
            <param name="android-package" value="cordova.plugin.bchydrocalculator.BCHydroCalculator" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/BCHydroCalculator.java" target-dir="src/cordova/plugin/bchydrocalculator/BCHydroCalculator" />
   </platform>
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="BCHydroCalculator">
            <param name="ios-package" value="BCHydroCalculator" />
         </feature>
      </config-file>
      <source-file src="src/ios/BCHydroCalculator.m" />
   </platform>
</plugin>